<div ng-include="'app/views/_tableHeaders.html'"></div>
<table st-table="vm.rowCollection" class="table table-striped">
    <thead>
        <tr>
            <th colspan="2" >
                <div class="list-search col-md-2" ng-show="vm.searchEnabled">
                    <input st-search placeholder="Pesquisa..." class="input-sm form-control" type="search" />
                </div>
            </th>
        </tr>
        <tr>
            <th st-sort="Nome" st-skip-natural="true">Farmácia</th>
            <th st-sort="Distrito" st-skip-natural="true">Distrito</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in vm.rowCollection">
            <td>{{row.Nome}}</td>
            <td>{{row.Distrito | uppercase}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="text-center">
                <div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="10"></div>
            </td>
        </tr>
    </tfoot>
</table>
