<form name="farmaciaForm" validate-form-directive callback="vm.sendForm()" submit-errors="vm.submitErrors" novalidate>
    <fieldset>
        <legend>Farmácia</legend>
        <div class="form-group row">
            <custom-dropdown control-id="clientType" label="Tipo de Cliente" model="vm.form.clientType"
                             source="vm.clientTypeDropdown" set-data="vm.getClientTypeDropdownSrc()" is-required="true" form="farmaciaForm" css-class="custom-dropdown col-md-3"></custom-dropdown>
            <custom-textbox control-id="codeANF" label="Código ANF" model="vm.form.codeANF" type="text"
                            is-required="false" form="farmaciaForm" css-class="col-md-3" is-readonly="{{vm.isReadonly}}"></custom-textbox>
            <custom-textbox control-id="clientSAP" label="Nº Cliente SAP" model="vm.form.clientSAP" type="text"
                            is-required="false" form="farmaciaForm" css-class="col-md-3"></custom-textbox>
            <custom-dropdown control-id="zone" label="Zona" model="vm.form.zone" source="vm.zoneDropdown"
                             set-data="vm.getZoneDropdownSrc()" is-required="true" form="farmaciaForm" css-class="custom-dropdown col-md-3"></custom-dropdown>
        </div>
        <div class="form-group row">
            <custom-checkbox control-id="isActive" label="Activo" model="vm.form.isActive" css-class="col-md-3"></custom-checkbox>
            <custom-textbox control-id="initialReq" label="Nº Req Inicial" model="vm.form.initialReq" type="number"
                            is-required="true" form="farmaciaForm" css-class="col-md-3"></custom-textbox>

            <custom-datepicker control-id="initialDate" label="Data Início Contrato" model="vm.form.initialDate"
                               min="vm.minDate" max="vm.maxDate" is-required="true" css-class="col-md-3" form="farmaciaForm"></custom-datepicker>
            <custom-datepicker control-id="rescDate" label="Data Rescisão" model="vm.form.rescDate"
                               min="vm.minDate" max="vm.maxDate" is-required="true" css-class="col-md-3" form="farmaciaForm"></custom-datepicker>
        </div>
        <div class="form-group row submit-buttons">
            <div class="col-md-1 col-md-offset-4">
                <input type="button" ui-sref="{{vm.listFarmaciasLink}}" class="form-control btn-danger btn-sm btn btn-primary" value="Voltar" />
            </div>
            <div class="col-md-1 col-md-offset-1">
                <input type="submit" ng-click="vm.submitted = true" class="form-control btn-sm btn btn-primary" value="Guardar" />
            </div>
        </div>
    </fieldset>
</form>