<div id="loginDiv" class="col-md-4 col-md-offset-5">
    <form class="form" name="loginForm">
        <h1 class="form-login-heading">Login</h1>
        <!--<div id="errorDiv" ng-hide="vm.errorMessage == ''" ng-class="{'alert-temp-login': vm.errorMessage != ''}" class="alert alert-danger col-md-12" role="alert">
            {{vm.errorMessage}}
        </div>-->
        <custom-textbox control-id="usernameInput" label="Username" model="vm.authModel.userName" type="text"
                        is-required="true" form="farmaciaForm" css-class="form-group col-md-12"></custom-textbox>
        <custom-textbox control-id="passwordInput" label="Password" model="vm.authModel.password" type="password"
                        is-required="true" form="farmaciaForm" css-class="form-group col-md-12"></custom-textbox>
        <button class="btn btn-lg btn-primary btn-block col-md-2"
                type="submit" ng-click="vm.login()">
            Login
        </button>
    </form>
</div>
